[submodule "hls_lfcd_lds_driver"]
	path = hls_lfcd_lds_driver
	url = https://github.com/ROBOTIS-GIT/hls_lfcd_lds_driver.git
[submodule "rosserial"]
	path = rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "tc3-ros-package"]
	path = tc3-ros-package
	url = https://github.com/AppliedRobotics/tc3-ros-package.git
[submodule "slam_gmapping"]
	path = slam_gmapping
	url = https://github.com/ros-perception/slam_gmapping.git
