<launch>
  <arg name="port" default="/dev/ttyACM0" />
  <arg name="baud" default="1000000"/>
  <node pkg="AR_TB4WD_bringup" type="serial_script.py" name="rosserial_client"/>
  <node pkg="AR_TB4WD_bringup" type="odom.py" name="odom_node"/>
  <node pkg="AR_TB4WD_bringup" type="lidar_fix.py" name="lidar_fix"/>
  <include file="$(find hls_lfcd_lds_driver)/launch/hlds_laser.launch"/>
</launch>
